canvas {
  border: 1px solid black;
}
.invisible {
  display: none;
}
.text-center {
  text-align: center;
}
.center-block {
  display: block;
  margin: auto;
}
.row {
  margin: 10px;
}
tr td {
  padding-right: 10px;
  width: 25%;
  vertical-align: top;
  font: 14px 'Lucida Grande', sans-serif;
}